* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body {
    padding: 80px;
}
h1 {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}
h4 {
    font-size: 24px;
}
img {
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.choice-addons {
    margin-right: 10px;
}
#addons {
    margin-bottom: 10px;
}
.purchase-details {
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 10px;
    width: 75%;
}
h6 {
    margin-bottom: 10px;
    font-size: 18px;
}
input[type="text"],
input[type="date"],
select,
textarea {
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 400px;
}
textarea {
    height: 100px;
}
input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: black;
    margin-right: 5px;
}
input[type="reset"],
input[type="submit"] {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.input-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
